@model InventoryManagementSystem.category

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_sideMenu.cshtml";
}


<div>
    <br />
    <center>
        <h2 class="text-primary font-weight-bold">Delete Categories</h2></center>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cat_name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cat_status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cat_status)
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary btn-block"  /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
