@model InventoryManagementSystem.category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_sideMenu.cshtml";
}

<br />
<center>
<h2 class="text-primary font-weight-bold">Details</h2></center>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cat_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cat_status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cat_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
