@model IEnumerable<InventoryManagementSystem.user>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_sideMenu.cshtml";
}
<br />
<center>
    <h2 class="text-primary font-weight-bold">Users</h2>
</center>

<p>
    @Html.ActionLink("Add New User", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.u_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_username)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.u_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.u_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.role.r_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.u_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_username)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.u_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.u_email)
        </td>
        <td>
            @if(item.u_status==1)
            {
                @Html.Label("Active");
            }
            else
            {
                @Html.Label("In-active");
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.role.r_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.u_id }) |
          
            @Html.ActionLink("Delete", "Delete", new { id=item.u_id })
        </td>
    </tr>
}

</table>
