@model InventoryManagementSystem.role

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_sideMenu.cshtml";
}
<br />
<center>
<h2 class="text-primary font-weight-bold">Delete Roles</h2>
</center>

<div>
    <h4>role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.r_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.r_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.r_status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary btn-block"  /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
