@model IEnumerable<InventoryManagementSystem.role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_sideMenu.cshtml";
}

<br />
<center><h2 class="text-primary font-weight-bold">Roles</h2></center>

<p>
    @Html.ActionLink("Add New Role", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.r_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.r_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.r_name)
        </td>
        <td>
            @{ 
                if(item.r_status==Convert.ToByte(1))
                {
                    <p>Active</p>
                }
                else if(item.r_status== Convert.ToByte(0))
                {
                    <p>In-active</p>
                }
            }
       
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.r_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.r_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.r_id })
        </td>
    </tr>
}

</table>
